---
import "../styles/global.css";
import NavBar from "../components/NavBar.astro";
import Hero from "../components/Hero.astro";
import Cocktails from "../components/Cocktails.astro";
import Menu from "../components/Menu.astro";
import About from "../components/About.astro";
import Art from "../components/Art.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Juniper</title>
  </head>
  <body>
    <main>
      <NavBar title="Paloma" />
      <Hero />
      <Cocktails />
      <About />
      <Art />
      <Menu />
    </main>
  </body>
</html>
